body{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  font-size: 36px;
  font-weight: bold;
}
div{
  padding: 18px;
}

button{
  padding: 5px;
  margin-left: 15px;
}

input{
  padding: 5px;
}